@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Pirata+One&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=UnifrakturCook:wght@700&display=swap');
:root {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;

    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    --bg0: var(--base3);
    --bg1: var(--base2);
    --content0: var(--base1);
    --content1: var(--base0);
    --content2: var(--base00);
    --content3: var(--base01);
    --fg0: var(--base02);
    --fg1: var(--base03);

    --focus0: var(--magenta);
    --focus1: var(--yellow);
    --focus2: var(--orange);

    --bg: var(--bg0);
    --placeholder: var(--content0);

    --shadow: drop-shadow(6px 6px 0px var(--content2));
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --bg0: var(--base03);
        --bg1: var(--base02);
        --content0: var(--base01);
        --content1: var(--base00);
        --content2: var(--base0);
        --content3: var(--base1);
        --fg0: var(--base2);
        --fg1: var(--base3);

        --focus0: var(--violet);
        --focus1: var(--green);
        --focus2: var(--blue);
    }
} */
body {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas:
    "save save save"
    "name name bonds"
    "background background bonds"
    "stats items items"
    "calc items items"
    "notes notes notes";
}

.homegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "readme readme readme";
}

.creategrid {
    display: grid;/* same as homegrid for now, will be changed when create is added */
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "readme readme readme";
}

@media screen and (max-width: 800px), (pointer:none), (pointer:coarse) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "save"
            "name"
            "background"
            "bonds"
            "stats"
            "calc"
            "items"
            "notes";
    }
    .doubleitem {
        grid-template-columns: auto auto 1fr !important;
    }
}

.item {
    border-radius: 5px;
    outline: solid 1px var(--content2);
    background-color: var(--bg);
    color: var(--content3);
    padding: 0px;
    margin: 5px;
    height: auto;
    min-height: 1fr;
}

.item:hover, .sel:hover {
    outline: solid 3px var(--content2);
}

.pgwidth {
    width: calc(100% - 30px);
    max-width: 900px;
}

.horiz {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.verti {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.doubleh {
    display: grid;
    grid-template-columns: auto 1fr;
}
@media screen and (max-width: 540px), (any-pointer: none), (any-pointer: coarse) {
    .splitdouble {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    a:has(strong), a:has(h2) {
        padding-left: 0;
    }
}
.doublev {
    display: grid;
    grid-template-rows: auto 1fr;
}

.header {
    filter: var(--shadow);
    margin-bottom: 20px;
    margin-top: 25px;
    padding: 10px;
}

.icon {
    width: 3em;
    margin: 10px;
}

.title {
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;

    color: var(--focus0);

    font-family: "UnifrakturCook";
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
}


b {
    color: var(--focus1);
    margin: 5px;
}

strong {
    color: var(--focus2);
    margin: 10px;
}

a strong, button strong {
    margin: 12px;
}

a, button {
    color: var(--bold-col);
    padding-left: 30px;
    text-decoration: none;
    font-size: large;
}

.bigtext {
    font-size: 1.5em;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input, textarea, .numcontainer {
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    /* outline: solid 1px var(--content2); */
    color: var(--content3);
    border: none;
    background-color: var(--bg);
}

input{
    padding: 5px;
    margin: 5px;
}

.item:has(> input.active) {
    outline: solid 3px var(--focus0);
}

input[type=number] {
    width: 80px;
    -moz-appearance:textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.item:has(input:focus), .item:has(textarea:focus) {
    outline: solid 3px var(--focus1) !important;
}

textarea:focus, input:focus{
    outline: none;
}

.numcontainer input[type=number] {
    outline: none;
    padding: 0;
    max-width: 34.5px;
}

.numcontainer {
    margin: 5px;
}

textarea {
    resize: unset;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    min-height: 120px;
    padding: 10px;
}

vdiv, hdiv {
    background-color: var(--content2);
    justify-self: center;
    align-self: center;
    display: block;
}
hdiv {
    width: calc(100% - 20px);
    max-height: 0px;
    min-height: 0px;
    border-top: solid 1px var(--content2);
}
vdiv {
    height: calc(100% - 20px);
    max-width: 0px;
    min-width: 0px;
    border-right: solid 1px var(--content2);
}

.doubleitem {
    display: grid;
    grid-template-columns: repeat(2, auto auto 1fr);
}

#stats {
    align-items: start;
}

::-webkit-input-placeholder {
    color:    var(--placeholder);
}
:-moz-placeholder {
    color:    var(--placeholder);
    opacity:  1;
}
::-moz-placeholder {
    color:    var(--placeholder);
    opacity:  1;
}
:-ms-input-placeholder {
    color:    var(--placeholder);
}
::-ms-input-placeholder {
    color:    var(--placeholder);
}

::placeholder {
    color:    var(--placeholder);
}

.padded {
    padding: 20px;
}

strong:active {
    color: var(--focus0);
}

*::selection {
  background: var(--focus0);
  color: var(--base2);
}
*::-moz-selection {
  background: var(--focus0);
  color: var(--base2);
}
*::-webkit-selection {
  background: var(--focus0);
  color: var(--base2);
}

.aside {
    max-width: 275px;
    text-align: center;
    color: var(--content2);
    font-size: smaller;
    font-weight: lighter;
}

.actiontext:hover {
    color: var(--focus1);
}

.nopad {
    padding-left: 0px;
    padding: 0px;
    margin: 0px;
}