@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Pirata+One&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=UnifrakturCook:wght@700&display=swap');

:root {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;

    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    --bg0: var(--base3);
    --bg1: var(--base2);
    --content0: var(--base1);
    --content1: var(--base0);
    --content2: var(--base00);
    --content3: var(--base01);
    --fg0: var(--base02);
    --fg1: var(--base03);

    --focus0: var(--magenta);
    --focus1: var(--yellow);
    --focus2: var(--orange);

    --bg: var(--bg0);

    --shadow: drop-shadow(6px 6px 0px var(--content2));
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg0: var(--base03);
        --bg1: var(--base02);
        --content0: var(--base01);
        --content1: var(--base00);
        --content2: var(--base0);
        --content3: var(--base1);
        --fg0: var(--base2);
        --fg1: var(--base3);

        /* --focus0: var(--green);
        --focus1: var(--violet);
        --focus2: var(--blue); */
    }
}

body {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "name name char char char"
        "stats items items items items"
        "calc items items items items"
        "notes notes notes notes notes";
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "name name char"
            "stats items items"
            "calc items items"
            "notes notes notes";
    }
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "name"
            "char"
            "stats"
            "calc"
            "items"
            "notes";
    }
}


.item {
    border-radius: 5px;
    outline: solid 1px var(--content2);
    background-color: var(--bg);
    color: var(--content3);
    padding: 15px;
    margin: 5px;
    min-height: 50px;
    height: 1fr;
}

.item:hover {
    outline: solid 3px var(--content2);
}

.pgwidth {
    width: 100%;
    max-width: 900px;
}

.horiz {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    filter: var(--shadow);
    margin-bottom: 20px;
}

.icon {
    width: 3em;
    margin: 10px;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;

    color: var(--focus0);

    font-family: "UnifrakturCook";
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;
}

b {
    color: var(--focus1);
}

strong {
    color: var(--focus2);
}

a {
    color: var(--bold-col);
    padding-left: 30px;
    text-decoration: none;
    font-size: large;
}

input, textarea, .numcontainer {
    border-radius: 5px;
    outline: solid 1px var(--content2);
    background-color: var(--bg);
    color: var(--content3);
    border: none;
}

input{
    padding: 5px;
    margin: 5px;
}

input[type=number] {
    max-width: 80px;
}
input[type=text] {
    max-width: 100px; 
}

.numcontainer input[type=number] {
    outline: none;
    padding: 0;
    max-width: 32px;
}

.numcontainer {
    margin: 5px;
}

textarea {
    resize: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}